/* Import google fonts from the web to be used in our game */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 75vw;
  padding: 20px;
  background-color: rgb(24, 94, 24);
  border: 3.5rem solid #493c03;
  border-radius: 20rem;
}

/* Base style for the UNO card */
.uno-card {
  width: 150px;
  height: 210px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-weight: bold;
  color: white;
  box-shadow: 0.4rem 0.2rem 1rem rgba(0, 0, 0, 0.4);
  position: relative;
  color: white;
  margin: 0.5rem;
}

/* Colors */
.uno-card.red {
  background-color: #FF5555;
  color: #FF5555; /* Set the color for red card */
  border: 2px solid #fff; /* Add a white border to red cards */
}

.uno-card.yellow {
  background-color: #FFD800;
  color: #FFD800; /* Set the color for yellow card */
  border: 2px solid #fff; /* Add a white border to yellow cards */
}

.uno-card.green {
  background-color: #008744;
  color: #008744; /* Set the color for green card */
  border: 2px solid #fff; /* Add a white border to green cards */
}

.uno-card.blue {
  background-color: #0057e7;
  color: #0057e7; /* Set the color for blue card */
  border: 2px solid #fff; /* Add a white border to blue cards */
}

/* White slanted oval stretching from near the top right to top left */
.uno-card .circle {
  width: 150px;          /* Adjusted to make the shape an oval */
  height: 90px;          /* Adjusted to make the shape an oval */
  background-color: white;
  border-radius: 50%;
  transform: rotate(-20deg); /* Fine-tuned the rotation for desired slant */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;              /* Adjusted to start near the top of the card */
  left: 50%;
  transform: translate(-50%, -50%) rotate(-40deg);
  z-index: 0; /* Behind the number */
}

/* Number in the middle of the card */
.uno-card .number {
  z-index: 2;
  position: relative; /* Added to ensure z-index works correctly */
  color: inherit; /* Inherit color from parent .uno-card */
}

/* Small number on top-left corner */
.uno-card .top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 0.8em;
  z-index: 1;
}

/* Small number on bottom-right corner */
.uno-card .bottom-right {
  position: absolute;
  bottom: 10px;
  color: white;
  right: 10px;
  font-size: 0.8em;
  z-index: 1;
  transform: rotate(180deg);
}
