/* Import google fonts from the web to be used in our game */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  background-image: url('../assets/Crystal_BG.png');
}

#card-deck {
  display: flex;
  flex-wrap: wrap;
}

#card-deck canvas {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  transition: transform 0.2s;
}

#card-deck canvas:hover {
  transform: translateY(-10px);
}

#card-pile {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
  width: 73px;
  height: 110px;
  transition: transform 0.2s; /* Smooth transition for the transform */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Optional: Adds shadow for depth */
}

#card-pile:hover {
  transform: translateY(-60%); /* Move up on hover */
}

/* Main container for the card table */
.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 3rem;
  height: 75vh;
  width: 75vw;
  padding: 20px;
  background-color: rgb(24, 94, 24);
  border: 3.1rem solid #493c03;
  border-radius: 20rem;
  position: relative;
}

.player-cards {
  display: flex;
}

.player-cards canvas {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  margin: 2px;
}

.player-cards canvas:hover {
  transform: translateY(-10px);
}

.player-name {
  color: #ffffff;
  border: 1px solid #ffffff;
  width: 20%;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  width: auto;
  background-color: slategray;
  position: absolute;
  top: 98%;
}

.player-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Adjust as needed */
  margin-top: auto;
}

.opponent-1-cards {
  transform: rotate(-180deg);
}

.opponent-1-cards canvas {
  margin: 2px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Optional: Adds shadow for depth */
}

.opponent-1-name {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  background-color: slategray;
  position: absolute;
  top: -5%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  text-align: center; /* Center the text */
}

/* Opponent 2 - Cards on the left */
.opponent-2-area {
  position: absolute;
  left: -5%; 
  top: 50%;
  transform: translateY(-50%) rotate(-270deg);
}

/* Opponent 2 Name Display */
.opponent-2-name {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  background-color: slategray;
  position: absolute;
  left: 35%; /* Adjust as needed */
  top: 170%;
  text-align: center; /* Center the text */
  width: auto; /* Adjust width to fit the text */
}

.opponent-2-cards {
  display: flex;
}

.opponent-2-cards canvas {
  margin: 2px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Optional: Adds shadow for depth */
}

/* Opponent 3 - Cards on the right */
.opponent-3-area {
  position: absolute;
  right: -5%;
  top: 50%;
  transform: translateY(-50%) rotate(270deg); 
}

/* Opponent 3 Name Display */
.opponent-3-name {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  background-color: slategray;
  position: absolute;
  right: 35%; /* Adjust as needed */
  top: 170%;
  text-align: center; /* Center the text */
  width: auto; /* Adjust width to fit the text */
}

.opponent-3-cards {
  display: flex;
}

.opponent-3-cards canvas {
  margin: 2px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Optional: Adds shadow for depth */
}

/* Holds all of the buttons the player can use while playing */
.player-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border: 0.2rem solid #ffffff;
  border-radius: 20rem;
  width: 50vw;
  position: absolute;
  left: 25vw;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%; /* Center the modal horizontally */
  top: 50%; /* Center the modal vertically */
  width: 50%; /* Width of the modal */
  height: auto; /* Height based on content */
  transform: translate(-50%, -50%); /* Adjust position to truly center the modal */
  overflow: auto; /* Enable scroll if needed */
}

.modal-content {
  background-color: #000000;
  align-items: center;
  color: #ffffff;
  margin: auto; /* Auto margin for centering */
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  width: 80%; /* Width of the content within the modal */
}

/* The Close Button */
.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(252, 0, 0); /* Hover */
  text-decoration: none;
  cursor: pointer;
}

.discard-pile-container {
  position: absolute;
  left: calc(55% - 80px); /* Adjust as per your layout */
  top: 50%;
  transform: translateY(-50%);
}

/* Hide Opponent Names Initially */
.player-name,
.opponent-1-name,
.opponent-2-name,
.opponent-3-name {
  display: none;
}



