/* Import google fonts from the web to be used in our game */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  background-image: url('../assets/Crystal_BG.png');
}

#card-deck {
  display: flex;
  flex-wrap: wrap;
}

#card-deck canvas {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  transition: transform 0.2s;
}

#card-deck canvas:hover {
  transform: translateY(-10px);
}

#card-pile {
  margin-left: 5rem; /* Adjust as needed for your layout */
}


/* Main container for the card table */
.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Aligns children at top and bottom */
  align-items: center;
  margin: 0 auto;
  height: 75vh;
  width: 75vw;
  padding: 20px;
  background-color: rgb(24, 94, 24);
  border: 3.1rem solid #493c03;
  border-radius: 20rem;

  #card-pile {
    margin-left: 5rem; /* Adjust as needed for your layout */
    width: 73px;
    height: 110px;
  }
}

.player-cards {
  display: flex;
  margin: 5px;
}

.player-cards canvas {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.player-cards canvas:hover {
  transform: translateY(-10px);
}

.player-name {
  color: #ffffff;
  border: 1px solid #ffffff;
  width: 20%;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  width: auto;
}


/* Holds all of the buttons the player can use while playing */
.player-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border: 0.2rem solid #ffffff;
  border-radius: 20rem;
  width: 50vw;
  position: absolute;
  left: 25vw;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%; /* Center the modal horizontally */
  top: 50%; /* Center the modal vertically */
  width: 50%; /* Width of the modal */
  height: auto; /* Height based on content */
  transform: translate(-50%, -50%); /* Adjust position to truly center the modal */
  overflow: auto; /* Enable scroll if needed */
}

.modal-content {
  background-color: #000000;
  align-items: center;
  color: #ffffff;
  margin: auto; /* Auto margin for centering */
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  width: 80%; /* Width of the content within the modal */
}

/* The Close Button */
.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(252, 0, 0); /* Hover */
  text-decoration: none;
  cursor: pointer;
}

